<footer class="footer">

    <div class="wrapper">

      <ul class="sitemap">
            <li>
                <a href="http://montagestudio.com/gallery/" class="sitemap-main">Gallery</a>
            </li>
            <li>
                <a href="http://montagestudio.com/product/" class="sitemap-main">Product</a>
                <a href="{{site.baseurl}}/montage-studio/ide-at-a-glance.html">Overview</a>
                <a href="{{site.baseurl}}/montage-studio/tutorial-simple-to-do.html">Quick Start</a>
                <a href="{{site.baseurl}}/montage-studio/faq.html">FAQ</a>
            </li>
            <li>
                <a href="http://montagestudio.com/montagejs" class="sitemap-main">Open Source</a>
                <a href="{{site.baseurl}}/montagejs/">Docs</a>
                <a href="{{site.baseurl}}/montagejs/montagejs-setup.html">Quick Start</a>
                <a href="{{site.baseurl}}/montagejs/montagejs-examples.html">Examples</a>
                <a href="{{site.baseurl}}/api/AbstractButton.html">API</a>
                <a href="{{site.baseurl}}/montagejs/faq.html">FAQ</a>
            </li>
            <li>
                <a href="http://montagestudio.com/community" class="sitemap-main">Community</a>
                <a href="http://forum.montagestudio.com/">Forum</a>
                <a href="http://montagestudio.com/blog/events/">Events</a>
                <a href="http://webchat.freenode.net/?channels=montage" target="_blank">IRC</a>
            </li>
            <li>
                <a href="http://montagestudio.com/blog/" class="sitemap-main">Blog</a>
            </li>
            <li>
                <a href="http://montagestudio.com/company/" class="sitemap-main">Company</a>
                <a href="http://montagestudio.com/company/history/">History</a>
                <a href="http://montagestudio.com/company/press/">Press</a>
                <a href="http://montagestudio.com/company/contact-us/">Contact us</a>
            </li>
      </ul>

        <a href="http://montagestudio.com/" class="footer-logo"></a>

      <p class="footer-end">2012–2014 Montage Studio</p>
    </div>

    </footer>

