<footer class="footer">

    <div class="wrapper">

      <ul class="sitemap">
            <li>
                <a href="http://montagestudio.com/gallery/" class="sitemap-main">展示</a>
            </li>
            <li>
                <a href="http://montagestudio.com/product/" class="sitemap-main">产品</a>
                <a href="http://docs.montagestudio.com/montage-studio/ide-at-a-glance.html">概览</a>
                <a href="http://docs.montagestudio.com/montage-studio/tutorial-simple-to-do.html">快速入门</a>
                <a href="http://docs.montagestudio.com/montage-studio/faq.html">FAQ</a>
            </li>
            <li>
                <a href="http://montagestudio.com/montagejs" class="sitemap-main">开源</a>
                <a href="http://docs.montagestudio.com/montagejs/">文档</a>
                <a href="http://docs.montagestudio.com/montagejs/montagejs-setup.html">快速入门</a>
                <a href="http://docs.montagestudio.com/montagejs/montagejs-examples.html">例子</a>
                <a href="http://docs.montagestudio.com/api/AbstractButton.html">API</a>
                <a href="http://docs.montagestudio.com/montagejs/faq.html">FAQ</a>
            </li>
            <li>
                <a href="http://montagestudio.com/community" class="sitemap-main">讨论</a>
                <a href="http://forum.montagestudio.com/">论坛</a>
                <a href="http://montagestudio.com/blog/events/">新闻</a>
                <a href="http://webchat.freenode.net/?channels=montage" target="_blank">IRC</a>
            </li>
            <li>
                <a href="http://montagestudio.com/blog/" class="sitemap-main">博客</a>
            </li>
            <li>
                <a href="http://montagestudio.com/company/" class="sitemap-main">公司</a>
                <a href="http://montagestudio.com/company/history/">历史</a>
                <a href="http://montagestudio.com/company/press/">出版</a>
                <a href="http://montagestudio.com/company/contact-us/">联系我们</a>
            </li>
      </ul>
        
        <a href="http://montagestudio.com/" class="footer-logo"></a>

      <p class="footer-end">2012–2014 Montage Studio</p>
    </div>

    </footer>

