<footer class="footer">

    <div class="wrapper">

    	<ul class="sitemap">
            <li>
                <a href="http://montagestudio.com/gallery/" class="sitemap-main">Gallery</a>
            </li>
            <li>
                <a href="http://montagestudio.com/explore/" class="sitemap-main">Explore</a>
            </li>
            <li>
                <a href="http://montagestudio.com/learn" class="sitemap-main">Learn</a>
                <a href="http://docs.montagestudio.com/montage-studio/">Montage Studio</a>
                <a href="http://docs.montagestudio.com/montagejs/">MontageJS</a>
                <a href="http://docs.montagestudio.com/api/AbstractButton.html">API</a>
            </li>
            <li>
                <a href="http://montagestudio.com/engage/" class="sitemap-main">Engage</a>
                <a href="http://montagestudio.com/blog/">Blog</a>
                <a href="http://forum.montagestudio.com/">Forum</a>
                <a href="http://montagestudio.com/blog/events/">Events</a>
            </li>
            <li>
                <a href="http://montagestudio.com/company/" class="sitemap-main">Company</a>
                <a href="http://montagestudio.com/company/history/">History</a>
                <a href="http://montagestudio.com/company/press/">Press</a>
                <a href="http://montagestudio.com/company/contact-us/">Contact us</a>
            </li>
    	</ul>
        
        <a href="http://montagestudio.com" class="footer-logo"></a>

	    <p class="footer-end">2012–2014 Montage Studio</p>
    </div>

</footer>

