
<header class="header">
        <div class="header-container">
            <a class="logo" href="/">Home</a>

            <input id="nav-toggle" class="nav-toggle nav-toggle--main" type="checkbox">
            <label class="nav-toggleLabel nav-toggleLabel--main" for="nav-toggle" onclick></label>

            <nav class="nav">
                <a class="nav-item" href="http://montagestudio.com/gallery">Gallery</a>
                <a class="nav-item" href="http://montagestudio.com/product">Product</a>
                <a class="nav-item" href="http://montagestudio.com/montagejs">Open Source</a>
                <a class="nav-item" href="http://montagestudio.com/community">Community</a>
                <a class="nav-item" href="http://montagestudio.com/blog">Blog</a>
                <a class="nav-item" href="http://montagestudio.com/company">Company</a>
                <a class="nav-item nav-item--teaser" href="http://montagestudio.com/reveal">Join our BETA</a>
            </nav>
            

        </div>
    </header>

