
<header class="header">
    <div class="header-container">
        <a class="logo" href="http://montagestudio.com/">Home</a>

        <input id="nav-toggle" class="nav-toggle nav-toggle--main" type="checkbox">
        <label class="nav-toggleLabel nav-toggleLabel--main" for="nav-toggle" onclick></label>

        <nav class="nav">
            <a class="nav-item" href="http://montagestudio.com/gallery">Gallery</a>
            <a class="nav-item" href="http://montagestudio.com/explore">Explore</a>
            <a class="nav-item active" href="http://montagestudio.com/learn">Learn</a>
            <a class="nav-item" href="http://montagestudio.com/engage">Engage</a>
            <a class="nav-item" href="http://montagestudio.com/company">Company</a>
            <a class="nav-item nav-item--teaser" href="http://montagestudio.com/reveal">Join our BETA</a>
        </nav>

    </div>
</header>