<section id="next" class="next">
    <div class="wrapper">
        <h3 class="title">Need help?</h3>
        <div class="cols">
            <div class="col col-1-2">
                <p>Can't find what you are looking for? Please <a href="http://montagestudio.com/company/contact-us/">contact us</a>, we're more than happy to help answer your questions.</p>
            </div>
            <aside class="col col-1-2">
                <p><strong>Have feedback or ideas?</strong> Let us know by creating a new <a href="http://forum.montagestudio.com/" target="_blank">issue</a> or post questions to our <a href="https://groups.google.com/forum/?fromgroups#!forum/montagejs" target="_blank">Google Group</a>. You can also find us on <a href="https://twitter.com/montagejs" target="_blank">Twitter</a> and <a href="https://plus.google.com/116915300739108010954/" target="_blank">Google+</a>.
                </p>
            </aside>
        </div>
    </div>
</section>