<nav class="sidenav">

    <details open>
        <summary>Studio Overview</summary>
        <a href="ide-at-a-glance.html" {% if page.this-page == 'ide-at-a-glance' %}class="active"{% endif %}>At a Glance</a>
        <a href="overview-using-montage-studio.html" {% if page.this-page == 'overview-using-montage-studio' %}class="active"{% endif %}>Using Montage Studio</a>
    </details>

    <details open>
        <summary>Concepts</summary>
        <a href="overview-montagejs-framework.html" {% if page.this-page == 'overview-montagejs-framework' %}class="active"{% endif %}>MontageJS Overview</a>
        <a href="styling-montagejs-applications.html" {% if page.this-page == 'styling-montagejs-applications' %}class="active"{% endif %}>Styling Applications</a>
    </details>

    <details open>
        <summary>Tutorials</summary>
        <a href="tutorial-simple-to-do.html" {% if page.this-page == 'tutorial-simple-to-do' %}class="active"{% endif %}>Quick Start</a>
        <a href="tutorial-using-flow-editor.html" {% if page.this-page == 'tutorial-using-flow-editor' %}class="active"{% endif %}>Using the Flow Editor</a>
    </details>

    <details open>
        <summary>For More Information</summary>
        <a href="faq.html" {% if page.this-page == 'faq' %}class="active"{% endif %}>FAQ</a>
        <a href="troubleshooting.html" {% if page.this-page == 'troubleshooting' %}class="active"{% endif %}>Troubleshooting</a>
        <a href="release-notes.html" {% if page.this-page == 'release-notes' %}class="active"{% endif %}>Release Notes</a>
    </details>
    
    <hr />
        
    <a class="sidenav-mainLink" href="/montagejs">MontageJS</a>    
    
</nav>
