<nav class="sidenav">

    <details open>
        <summary>快速入门</summary>
        <a href="montagejs-setup.html" {% if page.this-page == 'montagejs-setup' %}class="active"{% endif %}>开始使用</a>
        <a href="hello-montagejs.html" {% if page.this-page == 'hello-montagejs' %}class="active"{% endif %}>Hello MontageJS</a>
    </details>

    <details open>
        <summary>示例</summary>
        <a href="montagejs-examples.html" {% if page.this-page == 'montagejs-examples' %}class="active"{% endif %}>列子</a>
        <a href="http://montagejs.github.com/mfiddle/" target="_blank">Mfiddle</a>

    </details>

    <details open>
        <summary>教程</summary>
        <a href="tutorial-reddit-client-with-montagejs.html" {% if page.this-page == 'tutorial-reddit-client-with-montagejs' %}class="active"{% endif %}>创建Reddit新闻客户端</a>
        <a href="tutorial-3d-applications-with-montagejs.html" {% if page.this-page == 'tutorial-3d-applications-with-montagejs' %}class="active"{% endif %}>创建3D应用</a>
    </details>

    <details open>
        <summary>概念</summary>
        <a href="bootstrapping.html" {% if page.this-page == 'bootstrapping' %}class="active"{% endif %}>加载过程</a>
        <a href="application.html" {% if page.this-page == 'application' %}class="active"{% endif %}>应用</a>
        <a href="montagejs-templates.html" {% if page.this-page == 'montagejs-templates' %}class="active"{% endif %}>模板</a>
        <a href="exploring-components.html" {% if page.this-page == 'exploring-components' %}class="active"{% endif %}>组件</a>
        <a href="component-composition.html" {% if page.this-page == 'component-composition' %}class="active"{% endif %}>组件构成</a>
        <a href="serialization-format.html" {% if page.this-page == 'serialization-format' %}class="active"{% endif %}>声明</a>
        <a href="montagejs-objects.html" {% if page.this-page == 'montagejs-objects' %}class="active"{% endif %}>对象</a>
        <a href="data-binding.html" {% if page.this-page == 'data-binding' %}class="active"{% endif %}>数据绑定</a>
        <a href="event-handling.html" {% if page.this-page == 'event-handling' %}class="active"{% endif %}>事件处理</a>
        <a href="draw-cycle.html" {% if page.this-page == 'draw-cycle' %}class="active"{% endif %}>绘制周期(Draw cycle)</a>
        <a href="blueprints.html" {% if page.this-page == 'blueprints' %}class="active"{% endif %}>Blueprints</a>
        <a href="gestures-composers.html" {% if page.this-page == 'gestures-composers' %}class="active"{% endif %}>Gestures & Composers</a>
        <a href="naming-conventions.html" {% if page.this-page == 'naming-conventions' %}class="active"{% endif %}>命名规范</a>
    </details>

    <details open>
        <summary>内置组件</summary>
        <a href="repetition.html" {% if page.this-page == 'repetition' %}class="active"{% endif %}>Repetition</a>
        <a href="substitution.html" {% if page.this-page == 'substitution' %}class="active"{% endif %}>Substitution</a>
        <a href="overlay.html" {% if page.this-page == 'overlay' %}class="active"{% endif %}>Overlay</a>
    </details>

    <details open>
        <summary>UI集合</summary>
        <a href="themes.html" {% if page.this-page == 'themes' %}class="active"{% endif %}>概述</a>
        <a href="theme-digit-components.html" {% if page.this-page == 'theme-digit-components' %}class="active"{% endif %}>Digit</a>
        <a href="theme-matte-components.html" {% if page.this-page == 'theme-matte-components' %}class="active"{% endif %}>Matte</a>
        <a href="theme-native-components.html" {% if page.this-page == 'theme-native-components' %}class="active"{% endif %}>Native</a>
        <a href="autocomplete.html" {% if page.this-page == 'autocomplete' %}class="active"{% endif %}>Autocomplete</a>
    </details>

    <details open>
        <summary>工具</summary>
        <a href="tools-minit.html" {% if page.this-page == 'tools-minit' %}class="active"{% endif %}>Minit</a>
        <a href="tools-mop.html" {% if page.this-page == 'tools-mop' %}class="active"{% endif %}>Mop</a>
    </details>

    <details open>
        <summary>帮助</summary>
        <a href="faq.html" {% if page.this-page == 'faq' %}class="active"{% endif %}>FAQ</a>
        <a href="frb.html" {% if page.this-page == 'frb' %}class="active"{% endif %}>FAQ - FRB Transition</a>
        <a href="troubleshooting.html" {% if page.this-page == 'troubleshooting' %}class="active"{% endif %}>错误排查</a>
    </details>

    <hr />

    <a class="sidenav-mainLink" href="/api">API 文档</a>

    <hr />

    <a class="sidenav-mainLink" href="/montage-studio">Montage Studio</a>

</nav>
