<nav class="sidenav">

    <details open>
        <summary>Studio Overview</summary>
        <a href="ide-at-a-glance.html" {% if page.this-page == 'ide-at-a-glance' %}class="active"{% endif %}>At a Glance</a>
        <a href="ide-menu-bar.html" {% if page.this-page == 'ide-menu-bar' %}class="active"{% endif %}>Menu Bar</a>
        <a href="ide-package-explorer.html" {% if page.this-page == 'ide-package-explorer' %}class="active"{% endif %}>Package Explorer</a>
        <a href="ide-component-editor.html" {% if page.this-page == 'ide-component-editor' %}class="active"{% endif %}>Component Editor</a>
        <a href="ide-text-editor.html" {% if page.this-page == 'ide-text-editor' %}class="active"{% endif %}>Text Editor</a>
        <a href="ide-flow-editor.html" {% if page.this-page == 'ide-flow-editor' %}class="active"{% endif %}>Flow Editor</a>
    </details>

    <details open>
        <summary>Concepts</summary>
        <a href="montagejs-overview.html" {% if page.this-page == 'montagejs-overview' %}class="active"{% endif %}>MontageJS Overview</a>
        <a href="planning.html" {% if page.this-page == 'planning' %}class="active"{% endif %}>Planning Applications</a>
        <a href="styling-montagejs-applications.html" {% if page.this-page == 'styling-montagejs-applications' %}class="active"{% endif %}>Styling Applications</a>
    </details>

    <details open>
        <summary>Tutorials</summary>
        <a href="tutorial-simple-to-do.html" {% if page.this-page == 'tutorial-simple-to-do' %}class="active"{% endif %}>Quick Start</a>
        <a href="tutorial-using-flow-editor.html" {% if page.this-page == 'tutorial-using-flow-editor' %}class="active"{% endif %}>Using the Flow Editor</a>
    </details>

    <details open>
        <summary>For More Information</summary>
        <a href="faq.html" {% if page.this-page == 'faq' %}class="active"{% endif %}>FAQ</a>
        <a href="troubleshooting.html" {% if page.this-page == 'troubleshooting' %}class="active"{% endif %}>Troubleshooting</a>
        <a href="release-notes.html" {% if page.this-page == 'release-notes' %}class="active"{% endif %}>Release Notes</a>
        <a href="/montagejs" {% if page.this-page == '/docs/' %}class="active"{% endif %}>MontageJS Framework</a>
    </details>
    
</nav>
