---
layout: default
docs: true
---

    <section id="docs" class="docs withSidenav">
        
        <div class="wrapper">
            
            {% include sidenav-toggle.html %}
            {% include sidenav-montage-studio.html %}
            
            <div class="main">
            
                <!--<a href="https://github.com/montagejs/montagejs.org/tree/gh-pages/{{page.path}}" class="edit">Improve this</a>-->
                
                <article class="content">
                    {{content}}
                </article>

                <nav class="paging">
                    <a class="button paging--prev {% if page.prev-page == null %}disabled{% endif %}" href="{{ page.prev-page }}.html">Prev</a>
                    <a class="button paging--next {% if page.next-page == null %}disabled{% endif %}" href="{{ page.next-page }}.html">Next</a>
                </nav>

            </div>
            
        </div>
        
    </section>
    